<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="glass-card"> 
            <h1 id="titulo-culo">Bienvenido al Sistema de Nómina</h1>
            <h2><%= title %></h2>
            
            <p>Explora la información de tu empresa:</p>

            <div class="nav-links">
                <a href="/areas-page" class="btn">
                    Ver Áreas
                </a>
                <a href="/cargos-page" class="btn">
                    Ver Cargos
                </a>
                <a href="/empleados-page" class="btn">
                    Ver Empleados
                </a>
                <a href="/nominas-page" class="btn">
                    Ver Nóminas
                </a>
            </div>
        </div> 
    </div> 
</body>
</html>
